<div class="jumbotron masthead">
  <div class="container">
    <h1>TTrade</h1>
    <h2>基于胜率、盈亏比和交易笔数的交易模型，让投资更理性，更简单。</h2>
    <p class="masthead-button-links">
      <a class="btn btn-lg btn-primary btn-shadow" href="#" target="_blank" role="button">介绍</a>
    </p>
    <ul class="masthead-links">
      <li>
        <a href="#" target="_blank" role="button">历史收益</a>
      </li>
    </ul>
  </div>
</div>


<div class="bc-social">
  <div class="container">
    <ul class="bc-social-buttons">
      <li class="social-qq">
        <i class="fa fa-qq"></i> TTrade技术交流群：
      </li>
    </ul>
  </div>
</div>
